/* variables  */
:root {
  --primary-color: #ff2a4c;
  --secondary-color: #333;
  --accent-color: #fff;

  --fonts: "poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--fonts);
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* custom classes  */
.container {
  max-width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.cursor-pointer {
  cursor: pointer;
}
.colorize {
  color: var(--primary-color);
}
.d-flex {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.btn-app {
  background: var(--primary-color);
  font-size: 1rem;
  font-family: var(--fonts);
  border: none;
  outline: none;
  display: inline-block;
  padding: 0.5rem 1.3rem;
  color: var(--accent-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-app:hover {
  background-color: #e82848;
  color: var(--accent-color);
}
